body {
	font-family: Arial, sans-serif;

}
#about{
   
    width:500 px;
   
}
#myp{
    width: 500px;
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

header h1 {
	margin: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#myimg{
    float: right;
    width: 400px;
    border-radius: 200px;
 
}

nav li {
	display: inline;
	margin-right: 1rem;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 2rem;
}

section {
	margin-bottom: 2rem;
}

section h2 {
	margin-top: 0;
}

#portfolio-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

#portfolio-list li {
	flex-basis: calc(33.33% - 1rem);
	margin-right: 1rem;
	margin-bottom: 1rem;
}

#portfolio-list li:nth-child(3n+3) {
	margin-right: 0;
}

#portfolio-list li img {
	width: 100%;
	height: auto;
}

@media (max-width: 768px) {
	#portfolio-list li {
		flex-basis: calc(50% - 1rem);
	}
	#portfolio-list li:nth-child(2n+1) {
		margin-right: 0;
	}
}

@media (max-width: 480px) {
	#portfolio-list li {
		flex-basis: 100%;
	}
}